.container-footer{
    background-color: var(--color-white);
    width: 100%;
    min-height: 5rem;
    max-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.container-box-footer > p{
    color: var(--color-background-2);
    font-size: 1rem;
    font-family: var( --ffamlily-one);
    font-weight: 500;
}

.container-box-footer > button{
    background-color: var(--color-background-2);
    height: 2rem;
    width: 3rem;
    border-radius: .4rem;
}

.container-box-footer > button > a{
    text-decoration: none;
    color: var(--color-background-1);
    font-size: 1rem;
    font-family: var(--ffamlily-one);
    font-weight: 600;
}
.container-box-footer > button > a > i{
    font-size: 1rem;
}

@media screen and (max-width: 766px){
    .container-box-footer > p{
    
        font-size: .7rem
    }
}