
.container-header{
    background-color: var(--color-white);
    width: 100%;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    max-width: 1440PX;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    max-width: 1440px;
    margin: 0 auto;
}
.container-box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: .5rem 2rem;
}
.header-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.header-logo > a{
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--ffamlily-two);
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* color: var(--color-background-2); */
}
.header-nav-li{
    list-style-type: none;
}
.li-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin: .8rem;
    color: var(--color-black);
}

.li-link:hover{
    transition: .05s;
    border-bottom: var(--color-black) solid 2px;
}
.li-link:first-child:hover, .li-link:nth-child(2):hover, .li-link:nth-child(3):hover{
    border-bottom:  solid 2px;
}

.contacto{
    background-color:var(--color-white) ;
    border-radius: .7rem;
    border: solid var(--color-black) 2px;
}
.contacto:hover{
    background-color:var(--color-black);
    cursor: pointer;
    transition: .2s;
    border-bottom: none;
}
.contacto:hover > a{
    color: var(--color-white);
    transition: .2s;
    text-decoration: none;
}

.menu-input, .hambur-label{
    display: none;
    color: var(--color-black);
}
/* tablet */
@media  screen and (min-width: 767px) and (max-width: 1023px) {}
/* mobile */
@media screen and (max-width: 766px){
    .menu-input, .hambur-label{
        display: flex;
    }
    .container-header{
        background-color: var(--color-white);
        margin-top: 0rem;
    }

    .hambur-menu{
        font-size: 1.7rem;
        cursor: pointer;
    }
    .menu-input{
        display: none;
    }
    .menu-input:checked ~ .hambur-label>i{
        transform: rotate(90deg);
        transition: all .2s;
    }

    .header-nav{
        display: none;
    }

    .menu-input:checked ~ .header-nav{
        display: flex;
        position: fixed;
        top: 3.8rem;
        right: 0;
        border-radius: .3rem;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);

        height: 50rem;
        width: 100%;
    }
    .menu-input:checked ~ .header-nav>.header-nav-li{
        margin: 1rem 0;
    }
}

