.container-porfolio{
    background-color: var(--color-white);
    margin: 1rem 0;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height:100%;
    /* background-color: aqua; */
}

.container-box-porfolio{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 6rem 2rem;
    /* background-color: brown; */
}
.inicio-titulo-porfolio{
    height: 10%;
    width: 100%;
    /* background-color:darkcyan; */
    font-size: 2.8rem;
    margin-bottom: 0rem;
    text-align: left;
}
.p-porfolio{
  height: 10%;
  text-align: left;
  font-size: 1rem;
  font-family: var(--ffamlily-two);
}


.box-porfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    
    height: 80%;
    width: 100%;
    /* background-color: blueviolet; */
    box-shadow: 0 7px 15px 1px rgba(0,0,0,0.2);
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.05), rgba(0,0,0,0.05)); */
}

/* card */

.portfolio-card-box {
    background-color: var(--color-background-2);
    border-radius: .4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-image:linear-gradient(rgb(91, 44, 111, .5), rgb(91, 44, 111, .5)); */
    padding: .5rem;
    max-width: 15rem;

    width: 14rem;
    height: 18rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.img-card {
    width: 100%;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    margin-bottom: .8rem;
}
  
.h2-card {
    font-size: 1.5rem;
    color: var(--color-white);
}
  
.p-card {
    font-size: 1rem;
    color: rgb(191, 194, 212);
}
  
.portfolio-card-box .links {
    margin-top: .4rem;
    margin-bottom: .1rem;
    width: 100%;
    max-height: 4rem;
    
    /* border: 1px solid black; */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
  


.btn-github, .btn-url{
background-color: var(--color-four);
  color: var(--color-background-2);
  border-radius: .3rem;
  width: 45%;
  padding: .3rem;
  text-decoration: none;
  font-family: var(--ffamlily-one);
  font-weight: 600;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-github:hover, .btn-url:hover{
    background-color: #9c74be;
    color: var(  --color-four);
}

/* Tablet */
@media  screen and (min-width: 767px) and (max-width: 1023px) {
    .inicio-titulo-porfolio{
        font-size: 1.8rem;
    }
    .portfolio-card-box {
        padding: .4rem;
        max-width: 13rem;
    
        width: 13rem;
        height: 14rem;
        margin: 1rem;
    }
    .img-card {
        margin-bottom: .3rem;
    }
      
    .h2-card {
        font-size: 1.1rem;
    }
      
    .p-card {
        font-size: .8rem;
    }
}
/* mobile */
@media screen and (max-width: 766px){
    .p-porfolio{
        height: 8%;
        text-align: left;
        font-size: .6rem;
    }

    .box-porfolio{
        /* display: flex;
        flex-direction: column; */
        margin-top: 1rem;
        /* background-color: aqua; */
        
        height: 80%;
    }
    .inicio-titulo-porfolio{
        font-size: 1.4rem;
    }
    .portfolio-card-box {
        border-radius: .3rem;
        padding: .4rem;
        max-width: 11rem;
    
        width: 8rem;
        height: 10rem;
    
        align-items: center;
        justify-content: space-around;
        margin:.5rem;

        display: flex;
        flex-direction: column;
    }

    .img-card {
        margin-bottom: 0rem;
        width: 100%;
        height: 45%;
    }
      
    .h2-card {
        font-size: .9rem;
    }
      
    .p-card {
        font-size: .7rem;
    }

    .portfolio-card-box .links {
        margin-top: .2rem;
        margin-bottom: .1rem;
        width: 100%;
        max-height: 1.5rem;
        
        /* border: 1px solid black; */
    }

    .btn-github, .btn-url{
        border-radius: .2rem;
        width: 45%;
        height: 100%;
        padding: .1rem;
        font-size: .8rem;
      }
}