
.container-sobre-mi{
    background-color: var(--color-white);
    margin: 1rem 0;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height:100%;
}

.container-box-sobre-mi{
    height: 70%;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-evenly;

    .inicio-titulo{
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

.box-skills{
    height: 30%;
}
.box-skills > i{
    color: var(--color-background-2);
    height: 100%;
    width: auto;

    font-size: 2.3rem;
    margin: 0 1rem;
}

/* Tablet */
@media  screen and (min-width: 767px) and (max-width: 1023px) {
    .container-box-sobre-mi{
           
        .inicio-titulo{
            font-size: 1.8rem;

        }
    }

    .box-skills > i{
   
        font-size: 2rem;
        margin: 0 .5rem;
    }
}
/* mobile */
@media screen and (max-width: 766px){
    .container-box-sobre-mi{
        height: 100%;
        padding: 6rem 2rem;
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    
        .inicio-titulo{
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
    }
    .box-skills{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }

    .box-skills > i{
   
        font-size: 1.1rem;
        margin: 0 .3rem;
    }
}