/* 
:root{
    --color-one: #2980B9;
    --color-two: #8F65B1;
    --color-three: #3B4856;
    --color-four: #91D465;
    --color-five: #28B463;

    --color-one-2: #808B96;
    --color-two-2: #5B2C6F;
    --color-three-2: #CB4335;

    --color-background-1: #F7F9F9 ;
    --color-background-2: #283747;

    --color-white: #F0F3F4;
    --color-black: #212F3D;

    --ffamlily-one: 'Roboto', sans-serif;
    --ffamlily-two: 'Roboto Mono', monospace;
    --ffamlily-three: Arial, Helvetica, sans-serif;
}
*/

/* 
@media  screen and (min-width: 767px) and (max-width: 1023px) {}
@media screen and (min-width: 766px){}
*/

.container-sobre-mi{
    background-color: var(--color-white);
    margin: 1rem 0;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height:100%;
}

.container-box-sobre-mi{
    height: 80%;
    padding: 6rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    .inicio-titulo{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
}

.box-skills{
    height: 20%;
}
.box-skills > i{
    color: var(--color-background-2);
    height: 100%;
    width: auto;

    font-size: 2.3rem;
    margin: 0 1rem;
}

/* Tablet */
@media  screen and (min-width: 767px) and (max-width: 1023px) {
    .container-box-sobre-mi{
           
        .inicio-titulo{
            font-size: 1.8rem;

        }
    }

    .box-skills > i{
   
        font-size: 2rem;
        margin: 0 .5rem;
    }
}
/* mobile */
@media screen and (max-width: 766px){
    .container-box-sobre-mi{
        height: 100%;
        padding: 6rem 2rem;
    
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
    
        .inicio-titulo{
            font-size: 1.4rem;
            margin-bottom: 2rem;
        }
    }
    .box-skills{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }

    .box-skills > i{
   
        font-size: 1.1rem;
        margin: 0 .3rem;
    }
}